<div>
  <div class="admin-access-topbar">
    <div class="container">
      <a href="http://www.sigmaplus.com.do">
        <div class="logo"></div>
      </a>
    </div>
  </div>
  <div class="admin-access">
    <div class="center-vertically">
      <h1>SIGMAPLUS Beacon Panel</h1>
      <h2>
        Log in

        <small class="pull-right">
        or <a [routerLink]="['/register']">create an account</a>
      </small>
      </h2>
      <form>
        <div class="form-group email optional admin_email">
          <input #username class="string email optional form-control valid" autofocus="autofocus" placeholder="your email" type="email"
            value="" name="admin[email]" id="admin_email" aria-required="true" aria-invalid="false" />
        </div>
        <div class="form-group password optional admin_password">
          <input #password class="password optional form-control" placeholder="password" type="password" name="admin[password]" id="admin_password"
          />
        </div>
        <div class="checkbox">
          <input type="checkbox" id="admin[remember_me]" name="admin[remember_me]" value="remember-me" />
          <label for="admin[remember_me]">Remember me</label>
        </div>
        <input type="submit" name="commit" value="Log in" class="btn btn btn-sm btn-success pull-right" (click)="login(username.value, password.value);"
        />
        <a href="/admins/password/new">Forgot your password</a>
      </form>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">

        <p>To give you the best online experience, we use cookies on our site. By using our website you agree to the usage of
          cookies in accordance with your browser’s current settings. Read more about our <a href="/privacy">privacy policy.</a></p>

      </div>
    </div>
  </footer>
</div>
