$primary-color: #f17f03;
$secondary-color: #E06c03;
$primary-color-dark: #f17000;
$secondary-color-dark: #E06000;
$hover-color: #333333;
$font-family: 'Avenir',
'Oswald',
sans-serif;
$font-family-subtitle: "Open Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
